
<p>
  <strong>Name:</strong>
  <%= @starship.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @starship.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @starship.manufacturers %>
</p>

<p>
  <strong>Cost in credits:</strong>
  <%= @starship.cost_in_credits %>
</p>

<p>
  <strong>Length:</strong>
  <%= @starship.length %>
</p>

<p>
  <strong>Max atmosphering speed:</strong>
  <%= @starship.max_atmosphering_speed %>
</p>

<p>
  <strong>Crew:</strong>
  <%= @starship.crew %>
</p>

<p>
  <strong>Passengers:</strong>
  <%= @starship.passengers %>
</p>

<p>
  <strong>Cargo capacity:</strong>
  <%= @starship.cargo_capacity %>
</p>

<p>
  <strong>Consumables:</strong>
  <%= @starship.consumables %>
</p>

<p>
  <strong>Hyperdrive rating:</strong>
  <%= @starship.hyperdrive_rating %>
</p>

<p>
  <strong>Mglt:</strong>
  <%= @starship.mglt %>
</p>

<p>
  <strong>Starship class:</strong>
  <%= @starship.starship_class %>
</p>
<p>
  <strong>Pilots:</strong>
  <% @starship.pilot_connection.pilots.each do |p| %>
  <tr>
    <td><%= link_to p.name, show_person_path(id: p.id) %></td>
  </tr>
  <% end %>

</p>

<p>
  <strong>Films:</strong>
  <% @starship.film_connection.films.each do |f| %>
  <tr>
    <td><%= link_to f.title, show_film_path(id: f.id) %></td>
  </tr>
  <% end %>

</p>
